/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://img.freepik.com/vetores-gratis/fundo-de-formas-abstratas-brancas_79603-1362.jpg?w=1380&t=st=1697163432~exp=1697164032~hmac=9409178dd7d6c9429e5b5f307e3f3375fae386d1302afb5b49c5abd610aa0190') center/cover no-repeat;
    background-attachment: fixed; /* Mantém a imagem de plano de fundo fixa */
}

/* Estilo do cabeçalho */
header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 28px;
    margin: 0;
}

/* Estilo das seções */
section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 24px;
    margin: 0 0 20px;
}

/* Estilo dos comentários */
.comentarios {
    background-color: #f0f0f0;
    padding: 20px;
}

.comentario {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comentario h3 {
    font-size: 20px;
    margin: 0;
}

/* Estilo do formulário de comentário */
#form-comentario {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#form-comentario h3 {
    font-size: 20px;
    margin: 0;
}

#form-comentario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

#form-comentario input[type="text"],
#form-comentario textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

#form-comentario button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#form-comentario button:hover {
    background-color: #0056b3;
}

/* Estilo do menu de navegação */
.menu {
    background-color: #007bff;
    text-align: center;
    padding: 10px 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.menu a:hover {
    text-decoration: underline;
}