

body {
    background-color: #f0f0f0; /* Cor de fundo fora do campo de cadastro */
    background-image: url('https://img.freepik.com/fotos-gratis/fundo-futurista-abstrato-com-design-3d_1361-3532.jpg?w=1480&t=st=1697160072~exp=1697160672~hmac=e1ec6e9f81d9ac12d630eac2d6f770b4c71af1f40606369f65e445dda4095a81'); /* URL da imagem de plano de fundo */
    background-size: cover; /* Ajusta a imagem de fundo para cobrir todo o espaço disponível */
    background-repeat: no-repeat; /* Impede que a imagem de fundo seja repetida */
    background-position: center center; /* Centraliza a imagem de fundo horizontal e verticalmente */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f5f5f5;
    border: 10px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.container h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="file"] {
    width: 95%;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
}

.button-container {
    text-align: center;
}

.button-container input[type="submit"],
.button-container input[type="reset"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
}

.button-container input[type="submit"]:hover,
.button-container input[type="reset"]:hover {
    background-color: #0056b3;
}

.form-group select {
    width: 30%;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
    transition: border 0.3s;
    /* Adicione uma sombra quando o foco estiver no campo */
    &:focus 
        border: 3px solid #007bff;
    }
}